<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignToolUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SignToolUI.Properties.Settings>
            <setting name="SignToolPath" serializeAs="String">
                <value>C:\Program Files (x86)\Windows Kits\8.0\bin\x86\signtool.exe</value>
            </setting>
            <setting name="TimestampServer" serializeAs="String">
                <value>http://www.startssl.com/timestamp</value>
            </setting>
            <setting name="CertificatePath" serializeAs="String">
                <value />
            </setting>
        </SignToolUI.Properties.Settings>
    </userSettings>
</configuration>